<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Add Product</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% if messages %}
    {% for m in messages %}
    <h4>{{m}}</h4>
    {% endfor %}
    {% endif %}
<form action=""method="post">
  {% csrf_token %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Send Feedback</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="cardNumber">Subject</label>
              <input type="text" class="form-control" id="cardNumber" placeholder="Enter Product Name" name= "subject"required>
            </div>

            <div class="form-group col-md-6">
              <label for="expiryDate">Type Message</label>
              <textarea class="form-control" id="expiryDate" placeholder="Product Description"name="message" required></textarea>
            </div>

          <button class="btn btn-primary" type="submit">submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>


