<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Add Product</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form action=""method="post" enctype="multipart/form-data">
  {% csrf_token %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Add Product</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="cardNumber">Product Name</label>
              <input type="text" class="form-control" id="cardNumber" placeholder="Enter Product Name" name= "pname1"required>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="expiryDate">Product price</label>
                <input type="text" class="form-control" id="expiryDate" placeholder="$" name="pprice1" required>
              </div>
              <div class="form-group col-md-6">
                <label for="cvv">Rent Price</label>
                <input type="text" class="form-control" id="cvv" placeholder="$" name="prent1" required>
              </div>
              <div class="form-group col-md-6">
                <label for="cvv">Quantity</label>
                <input type="text" class="form-control" id="cvv" placeholder="Enter Quantity" name="quantity" required>
              </div>

            </div>

            <div class="form-group col-md-6">
              <!-- <label for="expiryDate">Seller</label> -->
              <input type="area" class="form-control" id="expiryDate" placeholder="$" name="pseller1" value="seller1" hidden>
            </div>

            <div class="form-group col-md-6">
              <label for="expiryDate">Description</label>
              <textarea class="form-control" id="expiryDate" placeholder="Product Description"name="pdes1" required></textarea>
            </div>


            <div class="form-group">
              <label class="form-label" for="customFile">Default file input example</label>
              <input type="file" name="pimage1" class="form-control" id="customFile" />            
          </div>            
          <button class="btn btn-primary" type="submit">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>


